html, body {
    margin: 0;
    height: 100%;
}
  
#root {
    min-height: 100vh;
}

h1, h2, h3, p, li, a {
    font-family: "Poppins", "Nunito Sans", Arial, sans-serif;
}

h1, h2, h3 {
    color: #fff;
    font-size: 2.4rem;
    margin: 0;
}
  
.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}
  
header {
    height: 56px;
    background-color: #211f2b;
    margin-bottom: 20px;
}
  
.head {
    display: flex;
    justify-content: space-between;
}

.head h1 {
    padding: 0 30px;
}
  
ul li {
    display: inline;
    margin-left: 15px;
}
  
ul li a {
    color: #fff;
    text-decoration: none;
}
  
main h2 {
    text-align: center;
}
  
/**********************************/
/*************Banner***************/
/**********************************/
  
.banner {
    text-align: center;
    padding: 50px 20px;
}
  
.banner h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
  
.banner p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #fff;
}
  
.buttons {
    display: flex;
    justify-content: center;
}
  
.btn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
  
.btn.primary {
    background-color: #007bff;
    color: white;
}
  
.btn.secondary {
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
}
  
/**********************************/
/*************Gallery***************/
/**********************************/
  
.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px; 
    margin-bottom: 30px;
}
  
.gallery img {
    border-radius: 5px;
    display: block;
    width: calc(25% - 10px); 
    height: auto; 
}
  
/**********************************/
/*************Footer***************/
/**********************************/
  
footer {
    background-color: #0f0f15;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
  